@page "/"

@rendermode InteractiveServer

@using System.Diagnostics
@using Microsoft.SemanticKernel
@using Microsoft.SemanticKernel.ChatCompletion
@using Microsoft.SemanticKernel.Connectors.OpenAI
@inject Kernel Kernel
@inject IChatCompletionService ChatService
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>Bonjour, Hi!</h1>

<p> LOCAL_LLM: @Configuration["LOCAL_LLM"]</p>
<p> OTEL_EXPORTER_OTLP_ENDPOINT: @Configuration["OTEL_EXPORTER_OTLP_ENDPOINT"]</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Send Message</h5>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" @bind="@message"></textarea>
        </div>
        <button id="btnSend" class="btn btn-primary mt-2" @onclick="Send">Send</button>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Response</h5>
        <p>@response</p>
    </div>
</div>


@code {
    private string message;
    private string response;
    ChatHistory chat = new(@"You're a friendly and helpful chat assistant demonstrating the capabilities of Azure OpenAI in a Blazor app.");

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task Send()
    {
        using var activity = Activity.Current.Source.StartActivity("sending-chat-message");
        
        chat.AddUserMessage(message);
        response = "";
        OpenAIPromptExecutionSettings settings = new() { ToolCallBehavior = ToolCallBehavior.AutoInvokeKernelFunctions };
        var chunks = ChatService.GetStreamingChatMessageContentsAsync(chat, settings, Kernel);
        await foreach (var chunk in chunks)
        {
            response += chunk;
            StateHasChanged();
        }
        chat.AddAssistantMessage(response);
    }
}